MDTIPlaybooks/MDTIFeed-Anomali/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Send MDTI Feeds to Anomali ThreatSteeam",
        "description": "",
        "prerequisites": "1)Microsoft Sentinel Log analytics workspace, 2)Enabled Microsoft Defender Threat Intelligence Data Connector, 3)Azure Logic Apps, 4)Microsoft Defender Threat Intelligence API Access and Client App Registered, 5)Anomali ThreatStream API Credentials",
        "postDeployment": [
        ],
        "prerequisitesDeployTemplateFile": "",
        "lastUpdateTime": "",
        "entities": [
        ],
        "tags": [
        ],
        "support": {
            "tier": "community",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Sean Wasonga",
            "title": " Senior Product Manager",
            "Organization": "Microsoft"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "SendMDTIFeeds-Anomali",
            "type": "string"
        },
        "APIauthorizationemail": {
            "type": "string",
            "metadata": {
                "description": "Enter value for API Authorization email From Anomali"
            }
        },
        "AuthorizationKey": {
            "type": "string",
            "metadata": {
                "description": "Enter value for Authorization Key From Anomali"
            }
        },
        "ClientIDMDTI": {
            "type": "string",
            "metadata": {
                "description": "Enter value for ClientID MDTI from Registered App with MDTI API ACCESS"
            }
        },
        "ClientSecretMDTI": {
            "type": "string",
            "metadata": {
                "description": "Enter value for ClientSecretMDTI Registered App with MDTI API ACCESS"
            }
        },
        "ResourceGroup": {
            "type": "string",
            "metadata": {
                "description": "Enter value for ResourceGroup Where Sentinel Workspace is Deployed pulling in MDTI Feeds"
            }
        },
        "ResourceName": {
            "type": "string",
            "metadata": {
                "description": "Enter value for ResourceName of the Sentinel Workspace"
            }
        },
        "Scoring": {
            "type": "Int",
            "metadata": {
                "description": "Enter value for Reputation Scoring for indicators you want to push through"
            }
        },
        "Subcription": {
            "type": "string",
            "metadata": {
                "description": "Enter value for Azure Subcription"
            }
        },
        "TenantID": {
            "type": "string",
            "metadata": {
                "description": "Enter value for Azure TenantID"
            }
        }
    },
    "variables": {
        "AzuremonitorlogsConnectionName": "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                            },
                            "type": "Object"
                        },
                        "APIauthorizationemail": {
                            "defaultValue": "[parameters('APIauthorizationemail')]",
                            "type": "string"
                        },
                        "AuthorizationKey": {
                            "defaultValue": "[parameters('AuthorizationKey')]",
                            "type": "string"
                        },
                        "ClientIDMDTI": {
                            "defaultValue": "[parameters('ClientIDMDTI')]",
                            "type": "string"
                        },
                        "ClientSecretMDTI": {
                            "defaultValue": "[parameters('ClientSecretMDTI')]",
                            "type": "string"
                        },
                        "ResourceGroup": {
                            "defaultValue": "[parameters('ResourceGroup')]",
                            "type": "string"
                        },
                        "ResourceName": {
                            "defaultValue": "[parameters('ResourceName')]",
                            "type": "string"
                        },
                        "Scoring": {
                            "defaultValue": "[parameters('Scoring')]",
                            "type": "Int"
                        },
                        "Subcription": {
                            "defaultValue": "[parameters('Subcription')]",
                            "type": "string"
                        },
                        "TenantID": {
                            "defaultValue": "[parameters('TenantID')]",
                            "type": "string"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Initialize_array_for_Hashes": {
                            "runAfter": {
                                "Initialize_array_for_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Hashes",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_array_for_Hosts": {
                            "runAfter": {
                                "Initialize_array_for_Urls": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Hosts",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_array_for_IPs": {
                            "runAfter": {
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IPs",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_array_for_Urls": {
                            "runAfter": {
                                "hash_description_Value": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "URLS",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Scope_for_File_Hash": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('Run_query_and_list_results')?['value']",
                                    "actions": {
                                        "Embed_Array_for_Hashes": {
                                            "foreach": "@body('Run_query_and_list_results')?['value']",
                                            "actions": {
                                                "Append_to_array_variable": {
                                                    "runAfter": {
                                                        "Append_to_array_variable_Hashes": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "Hash_Description_value",
                                                        "value": "@items('Embed_Array_for_Hashes')?['Description']"
                                                    }
                                                },
                                                "Append_to_array_variable_Hashes": {
                                                    "runAfter": {
                                                    },
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "Hashes",
                                                        "value": "@items('Embed_Array_for_Hashes')?['FileHashValue']"
                                                    }
                                                },
                                                "Condition_2": {
                                                    "actions": {
                                                        "Post_command_for_Hashes_to_Anomali_Threat_stream": {
                                                            "runAfter": {
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "headers": {
                                                                    "Authorization": "apikey @{parameters('APIauthorizationemail')}:@{parameters('AuthorizationKey')}"
                                                                },
                                                                "method": "POST",
                                                                "queries": {
                                                                    "classification": "private",
                                                                    "confidence": "100",
                                                                    "datatext": "@items('Embed_Array_for_Hashes')?['FileHashValue']",
                                                                    "intelligence_source": "Microsoft_Defender_Threat_intelligence",
                                                                    "threat_type": "malware"
                                                                },
                                                                "uri": "https://api.threatstream.com/api/v2/intelligence/import/"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Append_to_array_variable": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "greater": [
                                                                    "@length(variables('Hashes'))",
                                                                    0
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                            },
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "Run_query_and_list_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Run_query_and_list_results": {
                                    "runAfter": {
                                        "Run_query_and_list_results_V2_For_File_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "ThreatIntelligenceIndicator\n| where SourceSystem contains \"Microsoft Defender Threat Intelligence\" or SourceSystem contains\"Microsoft Threat Intelligence Analytics\"\n| where isnotempty(FileHashValue) \n| where TimeGenerated \u003e ago(5min)",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('ResourceGroup')]",
                                            "resourcename": "[parameters('ResourceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('Subcription')]",
                                            "timerange": "Set in query"

                                        }
                                    }
                                },
                                "Run_query_and_list_results_V2_For_File_hashes": {
                                    "runAfter": {
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body":  "ThreatIntelligenceIndicator\n| where SourceSystem contains \"Microsoft Defender Threat Intelligence\" or SourceSystem contains\"Microsoft Threat Intelligence Analytics\"\n| where isnotempty(FileHashValue) \n| where TimeGenerated \u003e ago(5min)",                                           
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('ResourceGroup')]",
                                            "resourcename": "[parameters('ResourceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('Subcription')]",
                                            "timerange": "Set in query"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_array_for_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Scope_for_Host_IOCS": {
                            "actions": {
                                "Embed_Array_for_Hosts": {
                                    "foreach": "@body('Run_query_and_list_results_for_Host_IOCS_')?['value']",
                                    "actions": {
                                        "Append_to_array_variable_for_Hosts": {
                                            "runAfter": {
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "Hosts",
                                                "value": "@items('Embed_Array_for_Hosts')?['DomainName']"
                                            }
                                        },
                                        "Condition_4": {
                                            "actions": {
                                                "Send_suspicious_and_Malicious_Feeds_to_Anomali_threatStream": {
                                                    "runAfter": {
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "headers": {
                                                            "Authorization": "apikey @{parameters('APIauthorizationemail')}:@{parameters('AuthorizationKey')}"
                                                        },
                                                        "method": "POST",
                                                        "queries": {
                                                            "classification": "@body('Parse_JSON_2')?['classification']",
                                                            "confidence": "@{body('Parse_JSON_2')?['score']}",
                                                            "datatext": "@{items('Embed_Array_for_Hosts')?['DomainName']}",
                                                            "description": "@{items('Embed_Array_for_Hosts')?['ThreatType']}",
                                                            "intelligence_source": "Microsoft_Defender_Threat_intelligence",
                                                            "tags": "@{body('Parse_JSON_2')?['rules']}",
                                                            "threat_type": "compromised"
                                                        },
                                                        "uri": "https://api.threatstream.com/api/v2/intelligence/import/"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greaterOrEquals": [
                                                            "@body('Parse_JSON_2')?['score']",
                                                            "@parameters('Scoring')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Parse_JSON_2": {
                                            "runAfter": {
                                                "Run_Reputation_score_for_Feed_pulled_from_log_analytics_Sentienl": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Run_Reputation_score_for_Feed_pulled_from_log_analytics_Sentienl')",
                                                "schema": {
                                                    "properties": {
                                                        "@@odata.context": {
                                                            "type": "string"
                                                        },
                                                        "classification": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "rules": {
                                                            "items": {
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "relatedDetailsUrl": {
                                                                        "type": "string"
                                                                    },
                                                                    "severity": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "description",
                                                                    "severity",
                                                                    "relatedDetailsUrl"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "score": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Run_Reputation_score_for_Feed_pulled_from_log_analytics_Sentienl": {
                                            "runAfter": {
                                                "Append_to_array_variable_for_Hosts": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "clientId": "@parameters('ClientIDMDTI')",
                                                    "secret": "@parameters('ClientSecretMDTI')",
                                                    "tenant": "@parameters('TenantID')",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/v1.0/security/threatIntelligence/hosts('@{items('Embed_Array_for_Hosts')?['DomainName']}')/reputation"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Run_query_and_list_results_for_Host_IOCS_": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Run_query_and_list_results_for_Host_IOCS_": {
                                    "runAfter": {
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "ThreatIntelligenceIndicator\n| where SourceSystem contains \"Microsoft Defender Threat Intelligence\" or SourceSystem contains\"Microsoft Threat Intelligence Analytics\"\n| where isnotempty(DomainName) \n| where TimeGenerated \u003e ago(5min)",
                                          
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('ResourceGroup')]",
                                            "resourcename": "[parameters('ResourceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('Subcription')]",
                                             "timerange": "Set in query"

                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope_for_File_Hash": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Scope_for_IP_Address": {
                            "actions": {
                                "Embed_Array_with_IPs": {
                                    "foreach": "@body('Run_query_and_list_results_for_IP_addresses')?['value']",
                                    "actions": {
                                        "Append_to_array_variable_for_IPS": {
                                            "runAfter": {
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "IPs",
                                                "value": "@items('Embed_Array_with_IPs')?['NetworkSourceIP']"
                                            }
                                        },
                                        "Condition_5": {
                                            "actions": {
                                                "Post_command_for_IP_address_to_Anomali_Threat_stream": {
                                                    "runAfter": {
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "headers": {
                                                            "Authorization": "apikey @{parameters('APIauthorizationemail')}:@{parameters('AuthorizationKey')}"
                                                        },
                                                        "method": "POST",
                                                        "queries": {
                                                            "classification": "@body('Parse_JSON')?['classification']",
                                                            "confidence": "@{body('Parse_JSON')?['score']}",
                                                            "datatext": "@{items('Embed_Array_with_IPs')?['NetworkSourceIP']}",
                                                            "description": "@{items('Embed_Array_with_IPs')?['ThreatType']}",
                                                            "intelligence_source": "Microsoft_Defender_Threat_intelligence",
                                                            "tags": "@{body('Parse_JSON')?['rules']}",
                                                            "threat_type": "compromised"
                                                        },
                                                        "uri": "https://api.threatstream.com/api/v2/intelligence/import/"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greaterOrEquals": [
                                                            "@body('Parse_JSON')?['score']",
                                                            "@parameters('Scoring')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "HTTP_2": {
                                            "runAfter": {
                                                "Append_to_array_variable_for_IPS": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "clientId": "@parameters('ClientIDMDTI')",
                                                    "secret": "@parameters('ClientSecretMDTI')",
                                                    "tenant": "@parameters('TenantID')",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/v1.0/security/threatIntelligence/hosts('@{items('Embed_Array_with_IPs')?['NetworkSourceIP']}')/reputation"
                                            }
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "HTTP_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP_2')",
                                                "schema": {
                                                    "properties": {
                                                        "@@odata.context": {
                                                            "type": "string"
                                                        },
                                                        "classification": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "rules": {
                                                            "items": {
                                                                "properties": {
                                                                    "description": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "relatedDetailsUrl": {
                                                                    },
                                                                    "severity": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "description",
                                                                    "severity",
                                                                    "relatedDetailsUrl"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "score": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Run_query_and_list_results_for_IP_addresses": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Run_query_and_list_results_for_IP_addresses": {
                                    "runAfter": {
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body":  "ThreatIntelligenceIndicator\n| where SourceSystem contains \"Microsoft Defender Threat Intelligence\" or SourceSystem contains\"Microsoft Threat Intelligence Analytics\"\n| where isnotempty(NetworkSourceIP) \n| where TimeGenerated \u003e ago(5min)",
                                          
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('ResourceGroup')]",
                                            "resourcename": "[parameters('ResourceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('Subcription')]",
                                             "timerange": "Set in query"

                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope_for_URL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Scope_for_URL": {
                            "actions": {
                                "Embed_Array_for_URLS": {
                                    "foreach": "@body('Run_query_and_list_results_for_URLs')?['value']",
                                    "actions": {
                                        "Append_to_array_variable_for_URLs": {
                                            "runAfter": {
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "URLS",
                                                "value": "@items('Embed_Array_for_URLS')?['Url']"
                                            }
                                        },
                                        "Condition": {
                                            "actions": {
                                                "Post_command_for_URL_to_Anomali_Threat_stream": {
                                                    "runAfter": {
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "headers": {
                                                            "Authorization": "apikey @{parameters('APIauthorizationemail')}:@{parameters('AuthorizationKey')}"
                                                        },
                                                        "method": "POST",
                                                        "queries": {
                                                            "classification": "Private",
                                                            "confidence": "100",
                                                            "datatext": "@{items('Embed_Array_for_URLS')?['Url']}",
                                                            "intelligence_source": "Microsoft_Defender_Threat_intelligence",
                                                            "threat_type": "compromised"
                                                        },
                                                        "uri": "https://api.threatstream.com/api/v2/intelligence/import/"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Append_to_array_variable_for_URLs": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "greater": [
                                                            "@length(variables('URLS'))",
                                                            0
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Run_query_and_list_results_for_URLs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Run_query_and_list_results_for_URLs": {
                                    "runAfter": {
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body":  "ThreatIntelligenceIndicator\n| where SourceSystem contains \"Microsoft Defender Threat Intelligence\" or SourceSystem contains\"Microsoft Threat Intelligence Analytics\"\n| where isnotempty(Url) \n| where TimeGenerated \u003e ago(5min)",                                           
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "[parameters('ResourceGroup')]",
                                            "resourcename": "[parameters('ResourceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('Subcription')]",
                                             "timerange": "Set in query"

                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope_for_Host_IOCS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "hash_description_Value": {
                            "runAfter": {
                                "Initialize_array_for_Hashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Hash_Description_value",
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName": "[variables('AzuremonitorlogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "createddate": "06/15/2023",
                "owner": "sewasong",
                "hidden-SentinelTemplateName": "SendMDTIFeeds-Anomali",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzuremonitorlogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        }
    ]
}
