MDTIPlaybooks/MDTI-Automated-TriageCustom/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "comments": "Perform automated triage actions on the Microsoft Sentinels Incident based on MDTI Reputation data.",
        "title":  "MDTI-Automated-Triage Custom ",
        "description":  "This playbook uses the MDTI Reputation data to automatically enrich incidents generated by Microsoft Sentinel. Indicators from an incident will be evaluated with MDTI reputation data. If any indicators are labeled as 'suspicious', the incident will be tagged as such and its severity will be marked as 'medium'. If any indicators are labeled as 'malicious', the incident will be tagged as such and its severity will be marked as 'high'. Regardless of the reputation state, comments will be added to the incident outlining the reputation details with links to further information if applicable",
        "prerequisites":  "This playbook inherits API connections created and established within a base playbook. Ensure you have deployed [MDTI-Base](https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Solutions/Microsoft%20Defender%20Threat%20Intelligence/Playbooks/MDTI-Base/azuredeploy.json) prior to deploying this playbook. If you have trouble accessing your account or your credentials contact your account representative or (mdtidiscussion[@]microsoft.com).",
        "postDeployment":  [
            "After deploying the playbook, you must authorize the connections leveraged.",
            "1. Visit the playbook resource.",
            "2. Under 'Development Tools' (located on the left), click 'API Connections'.",
            "3. Ensure each connection has been authorized.",
            "**Note: If you've deployed the [MDTI-Base](https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Solutions/Microsoft%20Defender%20Threat%20Intelligence/Playbooks/MDTI-Base/azuredeploy.json) playbook, you will only need to authorize the Microsoft Sentinel connection.**"
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "Microsoft",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name": " Sean Wasonga, Microsoft"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "MDTI-Automated-TriageCustom",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('azursentinel-', parameters('PlaybookName'))]"
    },
      "resources":  [
        {
 "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[variables('MicrosoftSentinelConnectionName')]",
        "location": "[resourceGroup().location]",
            "properties":  {
 "api": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
            }
 }
    },{
"type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "Source": "MDTI"
            },
	    "dependsOn": [
            "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
        ],
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Add_comment_to_incident_(V3)":  {
                            "runAfter":  {
                                "Create_HTML_table_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "message":  "\u003cp\u003eMDTI Reputation for the Hosts:\u003cbr\u003e\n@{body('Create_HTML_table_2')}\u003c/p\u003e"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/Incidents/Comment"
                            }
                        },
                        "Add_comment_to_incident_(V3)_2":  {
                            "runAfter":  {
                                "Create_HTML_table":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "message":  "\u003cp\u003e\u003cu\u003eMDTI Reputation for the IPS:\u003c/u\u003e\u003cbr\u003e\n@{body('Create_HTML_table')}\u003c/p\u003e"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/Incidents/Comment"
                            }
                        },
                        "Create_HTML_table":  {
                            "runAfter":  {
                                "For_each_IP_Address":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@variables('result_output_ip')"
                            }
                        },
                        "Create_HTML_table_2":  {
                            "runAfter":  {
                                "For_each_Host":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@variables('result_output_host')"
                            }
                        },
                        "Entities_-_Get_Hosts":  {
                            "runAfter":  {
                                "Init_Classification_Bit":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/host"
                            }
                        },
                        "Entities_-_Get_IPs":  {
                            "runAfter":  {
                                "Init_Classification_Bit":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/ip"
                            }
                        },
                        "For_each_Host":  {
                            "foreach":  "@body('Entities_-_Get_Hosts')?['Hosts']",
                            "actions":  {
                                "Append_host_classification":  {
                                    "runAfter":  {
                                        "Append_to_array_variable_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "AppendToArrayVariable",
                                    "inputs":  {
                                        "name":  "classification_bit",
                                        "value":  "@body('Get_Reputation_for_host')?['classification']"
                                    }
                                },
                                "Append_to_array_variable_2":  {
                                    "runAfter":  {
                                        "Compose_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "AppendToArrayVariable",
                                    "inputs":  {
                                        "name":  "result_output_host",
                                        "value":  "@outputs('Compose_2')"
                                    }
                                },
                                "Compose_2":  {
                                    "runAfter":  {
                                        "Parse_JSON_3":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  {
                                        "Classification":  "@{body('Parse_data_from_the_')?['classification']}",
                                        "First Seen ":  "@{body('Parse_JSON_3')?['firstSeenDateTime']}",
                                        "Hostname":  "@{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}",
                                        "Last Seen":  "@{body('Parse_JSON_3')?['lastSeenDateTime']}",
                                        "Registar":  "@{body('Parse_JSON_3')?['registrar']}",
                                        "Reputation Score":  "@{body('Parse_data_from_the_')?['score']}",
                                        "Threat Intelligence Rules":  "@{body('Parse_data_from_the_')?['rules']}"
                                    }
                                },
                                "Get_Host_data":  {
                                    "runAfter":  {
                                        "Parse_data_from_the_":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "@body('MDTI-Base')?['resource']",
                                            "clientId":  "@body('MDTI-Base')?['clientId']",
                                            "secret":  "@body('MDTI-Base')?['clientSecret']",
                                            "tenant":  "@body('MDTI-Base')?['tenantId']",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}')"
                                    }
                                },
                                "Get_Reputation_for_host":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "@body('MDTI-Base')?['resource']",
                                            "clientId":  "@body('MDTI-Base')?['clientId']",
                                            "secret":  "@body('MDTI-Base')?['clientSecret']",
                                            "tenant":  "@body('MDTI-Base')?['tenantId']",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "headers":  {
                                            "Content-Type":  "application/json"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}')/reputation"
                                    }
                                },
                                "Parse_JSON_3":  {
                                    "runAfter":  {
                                        "Get_Host_data":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Get_Host_data')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "@@odata.type":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "firstSeenDateTime":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "id":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "lastSeenDateTime":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "registrant":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "registrar":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Parse_data_from_the_":  {
                                    "runAfter":  {
                                        "Get_Reputation_for_host":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Get_Reputation_for_host')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "classification":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "id":  {
                                                    "type":  [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "rules":  {
                                                    "type":  [
                                                        "array",
                                                        "null"
                                                    ]
                                                },
                                                "score":  {
                                                    "type":  [
                                                        "integer",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Init_Result_Host":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "For_each_IP_Address":  {
                            "foreach":  "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions":  {
                                "Append_ip_classification":  {
                                    "runAfter":  {
                                        "Append_to_array_variable":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "AppendToArrayVariable",
                                    "inputs":  {
                                        "name":  "classification_bit",
                                        "value":  "@body('Get_reputation')?['classification']"
                                    }
                                },
                                "Append_to_array_variable":  {
                                    "runAfter":  {
                                        "Compose":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "AppendToArrayVariable",
                                    "inputs":  {
                                        "name":  "result_output_ip",
                                        "value":  "@outputs('Compose')"
                                    }
                                },
                                "Compose":  {
                                    "runAfter":  {
                                        "Parse_JSON_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  {
                                        "Classification":  "@{body('Parse_JSON')?['classification']}",
                                        "Country":  "@{body('Parse_JSON_2')?['countryOrRegion']}",
                                        "First Seen ":  "@{body('Parse_JSON_2')?['firstSeenDateTime']}",
                                        "IPAddress":  "@{items('For_each_IP_Address')?['Address']}",
                                        "Last Seen ":  "@{body('Parse_JSON_2')?['lastSeenDateTime']}",
                                        "Organization":  "@{body('Parse_JSON_2')?['autonomousSystem']?['organization']}",
                                        "Reputation Score":  "@{body('Parse_JSON')?['score']}",
                                        "Threat Intelligence Rules":  "@{body('Parse_JSON')?['rules']}"
                                    }
                                },
                                "Get_IP_Data":  {
                                    "runAfter":  {
                                        "Parse_JSON":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "@body('MDTI-Base')?['resource']",
                                            "clientId":  "@body('MDTI-Base')?['clientId']",
                                            "secret":  "@body('MDTI-Base')?['clientSecret']",
                                            "tenant":  "@body('MDTI-Base')?['tenantId']",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_IP_Address')?['Address']}')"
                                    }
                                },
                                "Get_reputation":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "@body('MDTI-Base')?['resource']",
                                            "clientId":  "@body('MDTI-Base')?['clientId']",
                                            "secret":  "@body('MDTI-Base')?['clientSecret']",
                                            "tenant":  "@body('MDTI-Base')?['tenantId']",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "headers":  {
                                            "Content-Type":  "application/json"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_IP_Address')?['Address']}')/reputation"
                                    }
                                },
                                "Parse_JSON":  {
                                    "runAfter":  {
                                        "Get_reputation":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Get_reputation')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  "string"
                                                },
                                                "classification":  {
                                                    "type":  "string"
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "rules":  {
                                                    "items":  {
                                                        "properties":  {
                                                            "description":  {
                                                                "type":  "string"
                                                            },
                                                            "name":  {
                                                                "type":  "string"
                                                            },
                                                            "relatedDetailsUrl":  {
                                                            },
                                                            "severity":  {
                                                                "type":  "string"
                                                            }
                                                        },
                                                        "required":  [
                                                            "name",
                                                            "description",
                                                            "severity",
                                                            "relatedDetailsUrl"
                                                        ],
                                                        "type":  "object"
                                                    },
                                                    "type":  "array"
                                                },
                                                "score":  {
                                                    "type":  "integer"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Parse_JSON_2":  {
                                    "runAfter":  {
                                        "Get_IP_Data":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Get_IP_Data')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  "string"
                                                },
                                                "@@odata.type":  {
                                                    "type":  "string"
                                                },
                                                "autonomousSystem":  {
                                                    "properties":  {
                                                        "name":  {
                                                            "type":  "string"
                                                        },
                                                        "number":  {
                                                            "type":  "integer"
                                                        },
                                                        "organization":  {
                                                            "type":  "string"
                                                        },
                                                        "value":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "countryOrRegion":  {
                                                    "type":  "string"
                                                },
                                                "firstSeenDateTime":  {
                                                },
                                                "hostingProvider":  {
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "lastSeenDateTime":  {
                                                },
                                                "netblock":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Init_Result_IP":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Init_Classification_Bit":  {
                            "runAfter":  {
                                "MDTI-Base":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "classification_bit",
                                        "type":  "array"
                                    }
                                ]
                            }
                        },
                        "Init_Result_Host":  {
                            "runAfter":  {
                                "Entities_-_Get_Hosts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "result_output_host",
                                        "type":  "array"
                                    }
                                ]
                            }
                        },
                        "Init_Result_IP":  {
                            "runAfter":  {
                                "Entities_-_Get_IPs":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "result_output_ip",
                                        "type":  "array"
                                    }
                                ]
                            }
                        },
                        "MDTI-Base":  {
                            "runAfter":  {
                            },
                            "type":  "Workflow",
                            "inputs":  {
                                "host":  {
                                    "triggerName":  "manual",
                                    "workflow":  {
                                        "id":  "/subscriptions/1c61ccbf-70b3-45a3-a1fb-848ce46d70a6/resourceGroups/D4ioTlabSean/providers/Microsoft.Logic/workflows/MDTI-Base"
                                    }
                                }
                            }
                        },
                        "Malicious_or_Suspicious":  {
                            "actions":  {
                                "Condition_2":  {
                                    "actions":  {
                                        "Update_incident":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                    "owner":  "@triggerBody()?['object']?['properties']?['owner']?['objectId']",
                                                    "ownerAction":  "Unassign",
                                                    "severity":  "High",
                                                    "status":  "Active",
                                                    "tagsToAdd":  {
                                                        "TagsToAdd":  [
                                                            {
                                                                "Tag":  "MDTI Malicious"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                    },
                                    "else":  {
                                        "actions":  {
                                            "Update_incident_2":  {
                                                "runAfter":  {
                                                },
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "body":  {
                                                        "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                        "owner":  "@triggerBody()?['object']?['properties']?['owner']?['objectId']",
                                                        "ownerAction":  "Unassign",
                                                        "severity":  "Medium",
                                                        "status":  "Active",
                                                        "tagsToAdd":  {
                                                            "TagsToAdd":  [
                                                                {
                                                                    "Tag":  "MDTI Suspicious"
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "put",
                                                    "path":  "/Incidents"
                                                }
                                            }
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "contains":  [
                                                    "@variables('classification_bit')",
                                                    "malicious"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                }
                            },
                            "runAfter":  {
                                "Add_comment_to_incident_(V3)":  [
                                    "Succeeded"
                                ],
                                "Add_comment_to_incident_(V3)_2":  [
                                    "Succeeded"
                                ]
                            },
                            "expression":  {
                                "or":  [
                                    {
                                        "contains":  [
                                            "@variables('classification_bit')",
                                            "malicious"
                                        ]
                                    },
                                    {
                                        "contains":  [
                                            "@variables('classification_bit')",
                                            "suspicious"
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        }
                    }
                },
               "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                            	"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                            	"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                        }
                        }
                    }
                }
            }
        }
    ]
}