MDTIPlaybooks/ArticlesNewletter/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "ArticlesNewletter",
            "type":  "string"
        },
        "ClientID":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for ClientID"
            }
        },
        "Secret":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Secret"
            }
        },
        "Tenant":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Tenant"
            }
        },
        "emailto":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for emailto"
            }
        }
    },
    "variables":  {
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "ClientID":  {
                            "defaultValue":  "[parameters('ClientID')]",
                            "type":  "string"
                        },
                        "Secret":  {
                            "defaultValue":  "[parameters('Secret')]",
                            "type":  "string"
                        },
                        "Tenant":  {
                            "defaultValue":  "[parameters('Tenant')]",
                            "type":  "string"
                        },
                        "emailto":  {
                            "defaultValue":  "[parameters('emailto')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Days":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Days",
                                        "type":  "string",
                                        "value":  "7"
                                    }
                                ]
                            }
                        },
                        "EmailTo":  {
                            "runAfter":  {
                                "application":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "EmailTo",
                                        "type":  "string"
                                    }
                                ]
                            }
                        },
                        "For_each":  {
                            "foreach":  "@body('Parse_JSON')?['value']",
                            "actions":  {
                                "Condition":  {
                                    "actions":  {
                                        "Append_to_array_variable":  {
                                            "runAfter":  {
                                                "Compose":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "AppendToArrayVariable",
                                            "inputs":  {
                                                "name":  "article",
                                                "value":  "@outputs('Compose')"
                                            }
                                        },
                                        "Compose":  {
                                            "runAfter":  {
                                            },
                                            "type":  "Compose",
                                            "inputs":  {
                                                "ArticleName":  "@{items('For_each')?['title']}",
                                                "Article_URL":  "https://ti.defender.microsoft.com/articles/@{items('For_each')['id']}",
                                                "Created Time ":  "@{items('For_each')?['createdDateTime']}",
                                                "Tags ":  "@{items('For_each')?['tags']}"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "greater":  [
                                                    "@items('For_each')?['createdDateTime']",
                                                    "@variables('time')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "Create_HTML_table":  {
                                    "runAfter":  {
                                        "Condition":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Table",
                                    "inputs":  {
                                        "format":  "HTML",
                                        "from":  "@variables('article')"
                                    }
                                },
                                "Set_variable":  {
                                    "runAfter":  {
                                        "Create_HTML_table":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "SetVariable",
                                    "inputs":  {
                                        "name":  "article2",
                                        "value":  "@body('Create_HTML_table')"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Int_article":  {
                            "runAfter":  {
                                "LookBack_Time":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "article",
                                        "type":  "array"
                                    }
                                ]
                            }
                        },
                        "LookBack_Time":  {
                            "runAfter":  {
                                "EmailTo":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "time",
                                        "type":  "string",
                                        "value":  "@{addDays(utcNow(),-7)}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                                "get_New_Articles":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('get_New_Articles')",
                                "schema":  {
                                    "properties":  {
                                        "@@odata.context":  {
                                            "type":  "string"
                                        },
                                        "@@odata.nextLink":  {
                                            "type":  "string"
                                        },
                                        "value":  {
                                            "items":  {
                                                "properties":  {
                                                    "createdDateTime":  {
                                                        "type":  "string"
                                                    },
                                                    "id":  {
                                                        "type":  "string"
                                                    },
                                                    "tags":  {
                                                        "items":  {
                                                            "type":  "string"
                                                        },
                                                        "type":  "array"
                                                    },
                                                    "title":  {
                                                        "type":  "string"
                                                    }
                                                },
                                                "required":  [
                                                    "id",
                                                    "createdDateTime",
                                                    "title",
                                                    "tags"
                                                ],
                                                "type":  "object"
                                            },
                                            "type":  "array"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Secret":  {
                            "runAfter":  {
                                "Tenant":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "secret",
                                        "type":  "string",
                                        "value":  "@parameters('Secret')"
                                    }
                                ]
                            }
                        },
                        "Send_an_email_(V2)":  {
                            "runAfter":  {
                                "For_each":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003e@{variables('article2')}\u003c/p\u003e",
                                    "Importance":  "Normal",
                                    "Subject":  "Newly MDTI articles in the last @{variables('Days')} Day.",
                                    "To":  "@variables('EmailTo')"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        },
                        "Tenant":  {
                            "runAfter":  {
                                "Days":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Tenant",
                                        "type":  "string",
                                        "value":  "@parameters('Tenant')"
                                    }
                                ]
                            }
                        },
                        "application":  {
                            "runAfter":  {
                                "Secret":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "application",
                                        "type":  "string",
                                        "value":  "@parameters('ClientID')"
                                    }
                                ]
                            }
                        },
                        "get_New_Articles":  {
                            "runAfter":  {
                                "int_article2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "authentication":  {
                                    "audience":  "https://graph.microsoft.com",
                                    "clientId":  "@variables('application')",
                                    "secret":  "@variables('secret')",
                                    "tenant":  "@variables('Tenant')",
                                    "type":  "ActiveDirectoryOAuth"
                                },
                                "method":  "GET",
                                "uri":  "https://graph.microsoft.com/v1.0/security/threatIntelligence/articles?$sort=createdDateTime\u0026$top=50\u0026$select=title,tags,createdDateTime"
                            }
                        },
                        "int_article2":  {
                            "runAfter":  {
                                "Int_article":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "article2",
                                        "type":  "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "LogicAppsCategory":  "security",
                "Source":  "MDTI",
                "createddate":  "04/19/2023",
                "owner":  "ajaykallur"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
